@using depensio.Shared.Pages.Dashboards.Models
@inject IDashboardServices _dashboardServices
@inject IGraphComponent<SaleDashboard> _saleGraphComponent


<LoadingComponent IsLoad="@isLoad" />
<div class="px-4 pt-6">

    <EditForm EditContext="@editContext" OnValidSubmit="HandleGetSalesData">
        <DataAnnotationsValidator />
        <div class="mb-2 flex items-center justify-start gap-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <ValidationSummaryFancy />
            <div class="flex sm:flex-row flex-col gap-4 items-end justify-start">
                <div>
                    <label for="startDate" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Date début</label>
                    <InputDate id="startDate"
                               class="pl-10 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-700 focus:border-transparent transition duration-200"
                               @bind-Value="saleRequest.StartDate" />
                    <div id="email-error" class="error-message">
                        <ValidationMessage For="@(() => saleRequest.StartDate)" />
                    </div>
                </div>
                <div>
                    <label for="endDate" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Date fin</label>
                    <InputDate id="endDate"
                               class="pl-10 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-700 focus:border-transparent transition duration-200"
                               @bind-Value="saleRequest.EndDate" />
                    <div id="email-error" class="error-message">
                        <ValidationMessage For="@(() => saleRequest.EndDate)" />
                    </div>
                </div>
                <button type="submit" class="mt-6 mb-1 sm:mt-0 px-4 py-2 bg-primary-700 text-white rounded-md hover:bg-primary-800 transition">
                    Rechercher
                </button>
            </div>

        </div>

    </EditForm>

    <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3 ">
        <!-- Main widget -->
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">

            <div class="flex items-center justify-between mb-4">
                <div class="flex-shrink-0">
                    <span class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">@saleDashboards.Sum(x => x.Quantity)</span>
                    <h3 class="text-base font-light text-gray-500 dark:text-gray-400">Produits vendu</h3>
                </div>
                <div class="flex flex-col items-end justify-center flex-1 font-medium text-base">
                    <p>Total vendu: @($"{saleDashboards.Sum(x => x.TotalAmount):N0} FCFA")</p>
                    <p>
                        Gain total estimé: <span class="text-green-500 dark:text-green-400">@($"{saleDashboards.Sum(x => x.Balance):N0} FCFA")</span>
                    </p>
                </div>
            </div>
            @_saleGraphComponent.Render(saleDashboards)
            <div class="flex items-center justify-between pt-3 mt-4 border-t border-gray-200 sm:pt-6 dark:border-gray-700">
                <div>
                </div>
                <div class="flex-shrink-0">
                </div>
            </div>
        </div>
        <!--Tabs widget -->
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 ">
            <h3 class="flex items-center mb-4 text-lg font-semibold text-gray-900 dark:text-white">
                Total des ventes detaillées par produit
                <button data-popover-target="popover-description" data-popover-placement="bottom-end" type="button"><svg class="w-4 h-4 ml-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg><span class="sr-only">Show information</span></button>
            </h3>
            <div data-popover id="popover-description" role="tooltip" class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                <div class="p-3 space-y-2">
                    <h3 class="font-semibold text-gray-900 dark:text-white">Statistics</h3>
                    <p>Statistics is a branch of applied mathematics that involves the collection, description, analysis, and inference of conclusions from quantitative data.</p>
                    <a href="#" class="flex items-center font-medium text-primary-600 dark:text-primary-500 dark:hover:text-primary-600 hover:text-primary-700">Read more <svg class="w-4 h-4 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></a>
                </div>
                <div data-popper-arrow></div>
            </div>
            <div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600">
                <div class="pt-4" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 max-h-[400px] overflow-y-auto">
                        @foreach (var saleItems in saleDashboards)
                        {
                            <li class="py-3 sm:py-4">
                                <div class="flex items-center justify-center space-x-4">
                                    <p class="font-medium text-gray-900 truncate dark:text-white">
                                        @saleItems.SaleDate.ToString("dd/MM/yyyy HH:mm")
                                    </p>
                                </div>
                                <div class="flex items-center space-x-4">
                                    <div class="flex-1 min-w-0">
                                        <p class="font-medium text-gray-900 truncate dark:text-white">
                                            @saleItems.Name
                                        </p>
                                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            Prix de vente : @($"{saleItems.SalePrice:N0} FCFA")
                                        </p>
                                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            Quantité vendu : @saleItems.Quantity
                                        </p>
                                        <p class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                            Total vendu: @($"{saleItems.TotalAmount:N0} FCFA")
                                        </p>
                                    </div>
                                    <div class="flex-1 min-w-0">
                                       
                                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            Prix d'achat : @($"{saleItems.AveragePurchasePrice:N0} FCFA")
                                        </p>
                                        <p class="text-sm text-gray-900 font-semibold truncate dark:text-gray-400">
                                            Gain estimé : @($"{saleItems.Balance:N0} FCFA")
                                        </p>
                                    </div>
                                    @* <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                        Total: @($"{saleItems.TotalAmount:N0} FCFA")
                                    </div> *@
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
            <!-- Card Footer -->
            <div class="flex items-center justify-between pt-3 mt-5 border-t border-gray-200 sm:pt-6 dark:border-gray-700">
                <div>
                </div>
                <div class="flex-shrink-0">
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Guid boutiqueId { get; set; }

    public IEnumerable<SaleDashboard> saleDashboards = new List<SaleDashboard>();
    public SaleRequest saleRequest = new();
    private bool isLoad = false;

    private ErrorMessage errorMessage = new();

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(saleRequest);
        messageStore = new ValidationMessageStore(editContext);

        editContext.OnValidationRequested += (s, e) => messageStore.Clear();
        editContext.OnFieldChanged += (s, e) => messageStore.Clear(e.FieldIdentifier);

        await IniGetSalesDataAsync();
    }

    private async Task<IEnumerable<SaleDashboard>> GetSalesDataAsync(Guid boutiqueId)
    {
        var response = await _dashboardServices.GetSalesDetailByBoutiqueAsync(boutiqueId, new GetSalesDetailByBoutiqueRequest(saleRequest));
        if (response.Success)
        {
            return response.Data.SalesDetails;
        }
        return new List<SaleDashboard>();
    }

    private async Task IniGetSalesDataAsync()
    {
        saleDashboards = await GetSalesDataAsync(boutiqueId);
               
    }

    private async Task HandleGetSalesData()
    {
        isLoad = true;
        try
        {

            saleDashboards = new List<SaleDashboard>();
            // Met à jour le DOM
            StateHasChanged();

            await IniGetSalesDataAsync();
            // Met à jour le DOM
            StateHasChanged();

        }
        catch (ApiException ex)
        {
            try
            {
                var errorResult = JsonSerializer.Deserialize<ErrorMessage>(ex.Content, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });

                // Efface les anciennes erreurs
                messageStore.Clear();

                if (errorResult?.ValidationErrors != null && errorResult.ValidationErrors.Any())
                {
                    foreach (var validationError in errorResult.ValidationErrors)
                    {
                        // Nettoyer le nom de propriété (ex: Product.Name -> Name)
                        var propertyName = validationError.PropertyName;
                        if (propertyName.Contains('.'))
                            propertyName = propertyName.Split('.').Last();

                        // Associer au champ si possible
                        var fieldIdentifier = new FieldIdentifier(saleRequest!, propertyName);
                        messageStore.Add(fieldIdentifier, validationError.ErrorMessage);
                    }
                }
                else if (!string.IsNullOrWhiteSpace(errorResult?.Detail))
                {
                    // Message global sans champ spécifique
                    var fieldIdentifier = new FieldIdentifier(saleRequest!, string.Empty);
                    messageStore.Add(fieldIdentifier, errorResult.Detail);
                }

                // Rafraîchir l’affichage
                editContext.NotifyValidationStateChanged();

            }
            catch
            {
                messageStore.Add(new FieldIdentifier(saleRequest, string.Empty), "Une erreur est survenue.");
                editContext.NotifyValidationStateChanged();
            }
        }
        finally
        {
            isLoad = false;
        }
    }

}