@using depensio.Shared.Pages.Produits.Models
@inject IProductService _productService;

<LoadingComponent IsLoad="@isLoad" />

<EditForm EditContext="@editContext" OnValidSubmit="HandleCreateProduit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
            <label for="first-name"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Libellé</label>
            <InputText type="text" @bind-Value="product.Name" name="first-name" id="first-name"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                       placeholder="Bonnet rouge" />
            <ValidationMessage For="@(() => product.Name)" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label for="last-name"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code bar</label>
            <InputText type="text" @bind-Value="product.Barcode" name="last-name" id="last-name"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                       placeholder="Code bar" />
            <ValidationMessage For="@(() => product.Barcode)" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label for="price"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prix de vente</label>
            <InputNumber @bind-Value="product.Price" type="number" name="email" id="price"
                         class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                         placeholder="example@company.com" />
            <ValidationMessage For="@(() => product.Price)" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label for="CostPrice"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prix d'achat</label>
            <InputNumber @bind-Value="product.CostPrice" type="number" name="CostPrice" id="CostPrice"
                         class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                         placeholder="e.g. React developer" />
            <ValidationMessage For="@(() => product.CostPrice)" />
        </div>
        <div class="col-span-6">
            <label for="Stock"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Produit en stock</label>
            <InputNumber @bind-Value="product.Stock" type="number" name="Stock" id="Stock"
                         class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                         placeholder="e.g. React developer" />
            <ValidationMessage For="@(() => product.Stock)" />
        </div>
        @*   <div class="col-span-6">
            <label for="biography"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Biography</label>
            <textarea id="biography" rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="?????Full-stack web developer. Open-source contributor."></textarea>
        </div> *@
    </div>
    <!-- Modal footer -->
    <div class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700">
        <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                type="submit">
            Enregistrer
        </button>
    </div>
</EditForm>



@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnAfterSave { get; set; }

    [Parameter]
    public Guid BoutiqueId { get; set; }
    
    private bool isLoad = false;
    private Product product = new();
    private ErrorMessage errorMessage = new();

    private EditContext editContext;
    private ValidationMessageStore messageStore;

    protected override void OnInitialized()
    {
        editContext = new EditContext(product);
        messageStore = new ValidationMessageStore(editContext);

        editContext.OnValidationRequested += (s, e) => messageStore.Clear();
        editContext.OnFieldChanged += (s, e) => messageStore.Clear(e.FieldIdentifier);
    }

    private async Task HandleCreateProduit()
    {
        isLoad = true;
        try
        {
            product.BoutiqueId = BoutiqueId; // Set the boutique ID for the product
            var result = await _productService.CreateProductAsync(new CreateProductRequest(product));
            if (result.Success)
            {
                messageStore.Clear();
                editContext.NotifyValidationStateChanged();
                product = new Product(); // Reset the boutique object
                await OnAfterSave.InvokeAsync(null); // Notify parent component
            }

        }
        catch (ApiException ex)
        {
            try
            {
                var errorResult = JsonSerializer.Deserialize<ErrorMessage>(ex.Content, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });

                if (!string.IsNullOrWhiteSpace(errorResult?.Detail))
                {
                    messageStore.Add(new FieldIdentifier(product, string.Empty), errorResult.Detail);
                    editContext.NotifyValidationStateChanged();
                }

                if (!string.IsNullOrWhiteSpace(errorResult?.Detail))
                {
                    messageStore.Add(new FieldIdentifier(product, string.Empty), errorResult.Detail);
                    editContext.NotifyValidationStateChanged();
                }
            }
            catch
            {
                messageStore.Add(new FieldIdentifier(product, string.Empty), "Une erreur est survenue.");
                editContext.NotifyValidationStateChanged();
            }
        }
        finally
        {
            isLoad = false;
        }
    }

}