@page "/settings/{boutiqueId:guid}/sale"
@using depensio.Shared.Pages.Boutique.Model
@using depensio.Shared.Pages.Produits.Components
@using depensio.Shared.Pages.Produits.Models
@inject ToastService ToastService
@inherits FlowbitePage
@layout MainLayout
@inject IBoutiqueSettingService _boutiqueSettingService
@inject HeaderTabService _headerTabService

<PageTitle>Depensio - Paramètres des ventes</PageTitle>

<ToastContainer />



<HeaderPanel Tabs="@headerTabs" />

<div class="grid grid-cols-1 px-4 xl:grid-cols-2 xl:gap-4">
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0">
        @if (@settingSaisiePrix != null)
        {

            <EditForm Model="formModel" OnValidSubmit="HandleBarCodeSubmit">
                <DataAnnotationsValidator />
                <ValidationSummaryFancy />
                <div class="flow-root">
                    @* <h3 class="text-xl font-semibold dark:text-white">Alerts & Notifications</h3>
                    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">You can set up Themesberg to get notifications</p> *@
                    <div class="divide-y divide-gray-200 dark:divide-gray-700">

                        <div class="flex items-center justify-between py-4">
                            <div class="flex flex-col flex-grow">
                                <div class="text-lg font-semibold text-gray-900 dark:text-white">@settingSaisiePrix.LabelValue</div>
                                <div class="text-base font-normal text-gray-500 dark:text-gray-400">@settingSaisiePrix.Description</div>
                            </div>
                            <div class="relative inline-block w-11 h-5">
                                <input id="autoprix" @bind="formModel.AutoSaisiPrix" type="checkbox" class="peer appearance-none w-11 h-5 bg-slate-100 rounded-full checked:bg-primary-800 cursor-pointer transition-colors duration-300" />
                                <label for="autoprix" class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-slate-800 cursor-pointer">
                                </label>
                            </div>
                        </div>
                        <ValidationMessage For="@(() => formModel.AutoSaisiPrix)" />

                    </div>
                    <div class="mt-6">
                        <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Enregistrer</button>
                    </div>
                </div>

            </EditForm>

        }

    </div>
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0">
        @if (@settingVenteStockZero != null)
        {

            <EditForm Model="formModel" OnValidSubmit="HandleStockSubmit">
                <DataAnnotationsValidator />
                <ValidationSummaryFancy />
                <div class="flow-root">

                    <div class="divide-y divide-gray-200 dark:divide-gray-700">

                        <div class="flex items-center justify-between py-4">
                            <div class="flex flex-col flex-grow">
                                <div class="text-lg font-semibold text-gray-900 dark:text-white">@settingVenteStockZero.LabelValue</div>
                                <div class="text-base font-normal text-gray-500 dark:text-gray-400">@settingVenteStockZero.Description</div>
                            </div>
                            <div class="relative inline-block w-11 h-5">
                                <input id="ventwithstock" @bind="formModel.AutoVenteProduitSkockZero" type="checkbox" class="peer appearance-none w-11 h-5 bg-slate-100 rounded-full checked:bg-primary-800 cursor-pointer transition-colors duration-300" />
                                <label for="ventwithstock" class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-slate-800 cursor-pointer">
                                </label>
                            </div>
                        </div>
                        <ValidationMessage For="@(() => formModel.AutoVenteProduitSkockZero)" />

                    </div>
                    <div class="mt-6">
                        <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Enregistrer</button>
                    </div>
                </div>


            </EditForm>

        }

    </div>
</div>

@code {
    [Parameter]
    public Guid boutiqueId { get; set; }
    private bool isLoad = false;

    private BoutiqueSettingValue settingSaisiePrix;
    private BoutiqueSettingValue settingVenteStockZero;

    private ProductFormModel formModel = new();

    private EditContext editContext;
    private ValidationMessageStore messageStore;
    private List<HeaderTab> headerTabs = new();

    protected override async Task OnInitializedAsync()
    {
        var setting = await _boutiqueSettingService.GetSettingByBoutique(boutiqueId, BoutiqueSettingKeys.VENTE_KEY);
        var result = JsonSerializer.Deserialize<List<BoutiqueSettingValue>>(setting.Data.Settings.Value);

        settingSaisiePrix = result?.FirstOrDefault(x => x.Id == BoutiqueSettingKeys.VENTE_AUTORISER_MODIFICATION_PRIX);
        settingVenteStockZero = result?.FirstOrDefault(x => x.Id == BoutiqueSettingKeys.VENTE_AUTORISER_VENTE_AVEC_STOCK_ZERO);

        formModel.AutoSaisiPrix = BoolHelper.ToBool(settingSaisiePrix.Value.ToString());
        formModel.AutoVenteProduitSkockZero = BoolHelper.ToBool(settingVenteStockZero.Value.ToString());

        headerTabs = _headerTabService.GetHeaderTabs(boutiqueId);

    }

    private async void HandleStockSubmit()
    {
        //isLoad = true;
        try
        {
            var setting = await _boutiqueSettingService.GetSettingByBoutique(boutiqueId, BoutiqueSettingKeys.VENTE_KEY);

            if (setting?.Data?.Settings?.Value is not string json)
            {
                ShowError();
                return;
            }

            var result = JsonSerializer.Deserialize<List<BoutiqueSettingValue>>(json);
            if (result is null)
            {
                ShowError();
                return;
            }

            var stockSetting = result.FirstOrDefault(x => x.Id == BoutiqueSettingKeys.VENTE_AUTORISER_VENTE_AVEC_STOCK_ZERO);
            if (stockSetting is not null)
            {
                stockSetting.Value = formModel.AutoVenteProduitSkockZero.ToString();
            }

            setting.Data.Settings.Value = JsonSerializer.Serialize(result);
            setting.Data.Settings.BoutiqueId = boutiqueId;

            var saveResult = await _boutiqueSettingService.UpsetSettingByBoutique(
                new UpsetSettingByBoutiqueRequest(setting.Data.Settings)
            );
            ShowSuccess();
        }
        catch
        {
            ShowError();
        }
        finally
        {
            //isLoad = false;
        }


    }

    private async void HandleBarCodeSubmit()
    {
        //isLoad = true;
        try
        {
            var setting = await _boutiqueSettingService.GetSettingByBoutique(boutiqueId, BoutiqueSettingKeys.VENTE_KEY);

            if (setting?.Data?.Settings?.Value is not string json)
            {
                ShowError();
                return;
            }

            var result = JsonSerializer.Deserialize<List<BoutiqueSettingValue>>(json);
            if (result is null)
            {
                ShowError();
                return;
            }

            var barcodeSetting = result.FirstOrDefault(x => x.Id == BoutiqueSettingKeys.VENTE_AUTORISER_MODIFICATION_PRIX);
            if (barcodeSetting is not null)
            {
                barcodeSetting.Value = formModel.AutoSaisiPrix.ToString();
            }

            setting.Data.Settings.Value = JsonSerializer.Serialize(result);
            setting.Data.Settings.BoutiqueId = boutiqueId;

            var saveResult = await _boutiqueSettingService.UpsetSettingByBoutique(
                new UpsetSettingByBoutiqueRequest(setting.Data.Settings)
            );

            ShowSuccess();
        }
        catch
        {
            ShowError();
        }
        finally
        {
            //isLoad = false;
        }


    }


    private string GetDisplayName(Enum value)
    {
        var field = value.GetType().GetField(value.ToString());
        var attr = field?.GetCustomAttribute<DisplayAttribute>();
        return attr?.Name ?? value.ToString();
    }

    private void ShowSuccess()
    {
        ToastService.ShowToast("Succès", "Paramètre enregistré avec succès", "success");
    }

    private void ShowError()
    {
        ToastService.ShowToast("Erreur", "Une erreur est survenue", "error");
    }

}