<aside id="sidebar" class=@($"fixed top-0 left-0 z-20 flex flex-col w-64 h-full pt-16 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700 duration-300 transition-transform {(IsSidebarOpen ? "translate-x-0" : "-translate-x-full hidden" )} lg:translate-x-0 lg:flex") aria-label="Sidebar">
    <div class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
            <div class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                <div class="flex items-center justify-center py-2 space-y-2 truncate ">
                    <h2 class="text-primary-700 font-bold truncate uppercase">@boutique.Name</h2>
                </div>
                <ul class="pb-2 space-y-2">
                    @foreach(var menu in menuUsers)
                    {
                        <li>
                            <NavLink href="@($"{menu.UrlFront}/{@boutique.Id}")" @onclick="OnClose" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
                                     activeClass="font-bold text-primary-700 dark:text-primary-500 dark:border-primary-500"
                                     match="NavLinkMatch.Prefix">
                                <i class="@menu.Icon"></i>
                                <span class="ml-3" sidebar-toggle-item>@menu.Name</span>
                            </NavLink>
                        </li>
                    }                    
                </ul>
                <div class="pt-2 space-y-2">
                    
                    <NavLink href="@($"/listboutique")" @onclick="OnClose" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
                             activeClass="font-bold text-primary-700 dark:text-primary-500 dark:border-primary-500"
                             match="NavLinkMatch.Prefix">
                        <svg class="w-6 h-6 transition duration-75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 4h12M6 4v16M6 4H5m13 0v16m0-16h1m-1 16H6m12 0h1M6 20H5M9 7h1v1H9V7Zm5 0h1v1h-1V7Zm-5 4h1v1H9v-1Zm5 0h1v1h-1v-1Zm-3 4h2a1 1 0 0 1 1 1v4h-4v-4a1 1 0 0 1 1-1Z" />
                        </svg>
                        <span class="ml-3" sidebar-toggle-item>Mes entreprises</span>
                    </NavLink>

                </div>
            </div>
        </div>    
    </div>
</aside>

<div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>
@code{
    [Parameter]
    public BoutiqueDTO boutique { get; set; }

    [Parameter]
    public bool IsSidebarOpen { get; set; }

    [Parameter] 
    public EventCallback OnClose { get; set; }

    [Parameter]
    public List<MenuUser> menuUsers { get; set; } = new List<MenuUser>();
}