@using depensio.Shared.Pages.Profiles.Models
@inject IProfileService _profileService;

<LoadingComponent IsLoad="@isLoad" />

<EditForm EditContext="@editContext" OnValidSubmit="HandleCreateProfile">
    <DataAnnotationsValidator />
    <ErrorsSummary editContext="@editContext" />
    <div class="p-6">
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <label for="titre"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
                <InputText type="text" @bind-Value="profile.Name" name="titre" id="titre"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           placeholder="Nom du profil" />
                <ValidationMessage For="@(() => profile.Name)" />
            </div>

            <div class="col-span-6 flex gap-2">
                <div>
                    <label for="prodctId"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Profile</label>
                    <select @bind="profileMenu.MenuId" id="prodctId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option selected="">Choix de produit</option>
                        @foreach (var prod in menus)
                        {
                            <option value="@prod.Id">@prod.Name</option>
                        }
                    </select>
                </div>
                <div class="flex items-end justify-end">
                    <label for="Quantite"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            type="button" @onclick="AddItem">
                        <svg class="w-5 h-5 -ml-1" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-span-6">
                <div class="overflow-x-auto">
                    <div class="inline-block min-w-full align-middle">
                        <div class="overflow-hidden shadow">
                            <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                                <thead class="bg-gray-100 dark:bg-gray-700">
                                    <tr>
                                        <th scope="col" class="p-4">
                                            <div class="flex items-center">
                                                <input id="checkbox-all" aria-describedby="checkbox-1" type="checkbox"
                                                       class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                                                <label for="checkbox-all" class="sr-only">checkbox</label>
                                            </div>
                                        </th>
                                        <th scope="col"
                                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                            Menu
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                                    @foreach (var item in profile.MenuIds)
                                    {
                                        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                            <td class="w-4 p-4">
                                                <div class="flex items-center">
                                                    <input id="checkbox-{{ .id }}" aria-describedby="checkbox-1" type="checkbox"
                                                           class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                                                    <label for="checkbox-{{ .id }}" class="sr-only">checkbox</label>
                                                </div>
                                            </td>
                                            <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
                                                @(menus.FirstOrDefault(p => p.Id == @item.MenuId).Name ?? "")
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal footer -->
    <div class="flex justify-end gap-3 px-6 py-4 border-t">
        <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                type="submit">
            Enregistrer
        </button>
    </div>
</EditForm>



@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnAfterSave { get; set; }

    [Parameter]
    public Guid BoutiqueId { get; set; }

    [Parameter]
    public IEnumerable<Menu> menus { get; set; }


    private bool isLoad = false;
    private Profile profile = new();
    private ProfileMenu profileMenu = new();
    private ErrorMessage errorMessage = new();

    private EditContext editContext;
    private ValidationMessageStore messageStore;

    protected override void OnInitialized()
    {
        editContext = new EditContext(profile);
        messageStore = new ValidationMessageStore(editContext);

        editContext.OnValidationRequested += (s, e) => messageStore.Clear();
        editContext.OnFieldChanged += (s, e) => messageStore.Clear(e.FieldIdentifier);
    }

    private async Task HandleCreateProfile()
    {
        isLoad = true;
        try
        {
            var result = await _profileService.CreateProfileAsync(BoutiqueId, new CreateProfileRequest(profile));
            if (result.Success)
            {
                messageStore.Clear();
                editContext.NotifyValidationStateChanged();
                profile = new(); // Reset the boutique object
                await OnAfterSave.InvokeAsync(null); // Notify parent component
            }

        }
        catch (ApiException ex)
        {
            try
            {
                var errorResult = JsonSerializer.Deserialize<ErrorMessage>(ex.Content, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });

                if (!string.IsNullOrWhiteSpace(errorResult?.Detail))
                {
                    messageStore.Add(new FieldIdentifier(profile, string.Empty), errorResult.Detail);
                    editContext.NotifyValidationStateChanged();
                }

            }
            catch
            {
                messageStore.Add(new FieldIdentifier(profile, string.Empty), "Une erreur est survenue.");
                editContext.NotifyValidationStateChanged();
            }
        }
        finally
        {
            isLoad = false;
        }
    }

    private void AddItem()
    {
        if (profileMenu.MenuId == Guid.Empty)
            return;

        bool alreadyExists = profile.MenuIds.Any(i => i.MenuId == profileMenu.MenuId);

        if (alreadyExists)
        {
            // Option : afficher un message d'erreur, toast, etc.
            Console.WriteLine("Profile déjà ajouté.");
            return;
        }

        profile.MenuIds.Add(new()
        {
            MenuId = profileMenu.MenuId,
            IsActive = true
        });

        profileMenu = new();
    }

}