@inherits LayoutComponentBase
@inject NavigationManager NavManager 
@inject IMenuService _menuService
@inject IBoutiqueService _boutiqueService



<ToastContainer />
<CascadingAuthenticationState>
    <RouteGuard RedirectToLogin="/login" RedirectToAccessDenied="/access_denied"  RedirectToLogout="/logout" TimeoutLogout="1800000">
        
        <LoadingComponent IsLoad="@isLoad" />
        @if (menuUsers.Any())
        {
            @if (!HasAccess)
            {
                <NotFoundComponent />
                return;
            }
           <NavBarDashboard OnAfterToggleSidebar="()=>{
                isSidebarOpen = !isSidebarOpen;
            }" IsSidebarOpen="@isSidebarOpen" />

            <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

                <Sidebar 
                    boutique="@boutique" 
                    IsSidebarOpen="@isSidebarOpen" 
                    OnClose="()=>{
                        isSidebarOpen = !isSidebarOpen;
                    }" 
                    menuUsers="@menuUsers"
                />

                <div id="main-content" class="relative w-full min-h-screen overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
                    <main>
                        @Body
                    </main>
                    <FooterDashboard />
                </div>

            </div>
    
        }
        
        <!-- Chatbot Modal -->
        <ChatbotComponent />

        </RouteGuard>
</CascadingAuthenticationState>


@code {
    private bool isSidebarOpen = false;

    private Guid boutiqueId;
    private List<MenuUser> menuUsers = new();
    private bool HasAccess = true;    
    private bool isLoad = true;
    private BoutiqueDTO boutique = new();

    protected override async Task OnInitializedAsync()
    {
        isLoad = true;        
        boutiqueId = NavigationHelper.ExtractGuidFromUri(NavManager);

        await GetMenuByUserBoutiqueAsync(boutiqueId);
        await GetOneBoutiqueByUser(boutiqueId);
        isLoad = false; 
    }

    private async Task GetMenuByUserBoutiqueAsync(Guid _boutiqueId)
    {
        var menureponse = await _menuService.GetMenuByUserBoutiqueAsync(_boutiqueId);
        menuUsers = menureponse.Data.Menus.ToList();

        if (!menuUsers.Any()) {
            HasAccess = false;
            return;
        }

        var currentPath = $"/{NavManager.ToBaseRelativePath(NavManager.Uri)}";
        HasAccess = menuUsers.Any(m => currentPath.StartsWith(m.UrlFront, StringComparison.OrdinalIgnoreCase));

    } 

    private async Task GetOneBoutiqueByUser(Guid _boutiqueId)
    {
        var resultBoutique = await _boutiqueService.GetOneBoutiqueByUser(_boutiqueId);
        boutique = resultBoutique.Data.Boutique;
    
    }
}